<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>My App</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
</head>
<body>
  <script>
    channel = new goog.appengine.Channel('{{.}}');
    socket = channel.open();
    socket.onopen = onOpened;
    socket.onmessage = onMessage;
    socket.onerror = onError;
    socket.onclose = onClose;

    function onOpened() {
    	console.log("die");
    }
    function onMessage(data) {
    	console.log(data);
    	$("#gallery").append("<img style='max-width:80px;max-height:80px;' src='" + data.data + "'>");
    }
    function onError() {
    	console.log("message");
    }
    function onClose() {
    	console.log("close");
    }
  </script>
  <div id="gallery">

  </div>
</body>
</html>